@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--color-crust: #181926;

	--color-surface: #363a4f;
	--color-surface-1: #494d64;
	--color-surface-2: #5b6078;

	--color-accent: #c6a0f6;

	--color-text: #cad3f5;
}

.ubuntu-mono-regular {
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 400;
	font-style: normal;
}

.ubuntu-mono-bold {
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 700;
	font-style: normal;
}

.ubuntu-mono-regular-italic {
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 400;
	font-style: italic;
}

.ubuntu-mono-bold-italic {
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 700;
	font-style: italic;
}

* {
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 400;
	font-style: normal;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
