name: Build/Deploy Site

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-app:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pages: write
    concurrency:
      group: build
      cancel-in-progress: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install Node.JS
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Dependencies
        run: |
          corepack enable
          yarn

      - name: Build Site
        run: yarn build

      - name: Setup GH Pages
        uses: actions/configure-pages@v5

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'dist'

      - name: Deploy to GH Pages
        id: deployment
        uses: actions/deploy-pages@v4
